@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background-color: #fffaf5;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #fff7ed;
}
::-webkit-scrollbar-thumb {
  background: #fdba74;
  border-radius: 3px;
}
